# ===============================
# Node Dependencies
# ===============================
node_modules/
npm-debug.log*
dist/
build/

# ===============================
# Envs & Logs
# ===============================
.env
.env.*
logs/
*.log

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Terraform state files
# ===============================
**/.terraform/*
*.terraform/*
*.tfstate.*
*.tfstate
.terraform.lock.hcl
